{% extends 'faturas/base.html' %} 
{% load crispy_forms_tags %}
{% block fullSizedContent %}
    <div class="content-section fatura_website_section">
        <form method="POST">
         {% csrf_token %}
         <fieldset class="form-group">
         <legend class="border-bottom mb-4">Registe-se Agora</legend>
         {{ form|crispy }}
         </fieldset>
            <div class="form-group">
                <button class="btn btn-login" type="submit">Registar</button>
            </div>
        </form>
        <div class="border-top pt-3">
        <small class="text-muted">
        Já tens conta? <a class="ml-2" href="{% url 'login' %}">Entrar</a>
        </small>
        </div>
    </div>
{% endblock fullSizedContent %}