{% extends 'faturas/base.html' %} 
{% block content %}
    <h1>Pagina Inicial de Gestão de Faturas</h1>
    {% for faturas in fatura %}
    <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ faturas.Vendedor }}</a>
        <small class="text-muted">{{ faturas.Data|date:"F d, Y" }}</small>
        </div>
        <h3><a class="article-title" href="#">{{ faturas.Descricao }}</a></h2>
        <p class="article-content">{{ faturas.Valor }}</p>
        <p class="article-content">{{ faturas.Client }}</p>
        <p class="article-content">{{ faturas.imagemUrl }}</p>
    </div>
    </article>
    {% endfor %}
{% endblock content %}

