{% extends 'faturas/base.html' %} 
{% block fullSizedContent %}
    <div class='main_page'>
    
        <main role="main" class="container">
            <div class="row main-row">
                <div class="col-md-12 text-center " >
                <h1>Farto de perder as suas faturas? </h1>
                {% if user.is_authenticated %}
                <a class='btn btn-login login-main' href="{% url 'Faturas-home' %}">Clique para ver as suas faturas</a>
                {% else %}
                <a class='btn btn-login login-main' href="{% url 'login' %}">Entrar<i class="fas fa-sign-in-alt ml-2"></i></a>
                <a class='btn btn-login login-main' href="{% url 'register_user' %}">Registar<i class="fas fa-user-plus ml-2"></i></a>
                {% endif %}
                </div>
            </div>
        </main>
    </div>
{% endblock fullSizedContent %}