{% extends 'faturas/base.html' %} 
{% block content %}
    <h1>Faturas</h1>
    {% for faturas in fatura %}
    <article class="media content-section fatura_website_section">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{% url 'Fatura' faturas.id %}">Fatura {{ faturas.Vendedor }}</a>
        <small class="text-muted">{{ faturas.Data|date:"F d, Y" }}</small>
        <a class="ml-2">Cliente final: {{ faturas.Client }}</a>
        </div>
        
        <div class="media">
            <a href="{% url 'Fatura' faturas.id %}"><img src="{{ faturas.imagemUrl.url }}"  class="img-fluid image_fatura mr-3" alt="Responsive image"></a>
        <div class="media-body">
            <p class="article-content col-4 ml-3"><a class="value_label">Valor:</a> {{ faturas.Valor }}</p>
            <a class="article-title col-4" id="descricao" href="{% url 'Fatura' faturas.id %}"><a class="value_label">Descrição:</a> {{ faturas.Descricao }}</a> 
        </div>
        </div>
    </div>
    </article>
    {% endfor %}
{% endblock content %}

