{% extends 'faturas/base.html' %} 
{% block content %}
<h1>Quem Somos</h1>
    <p>Nós somos um pequeno grupo de estudantes que se apercebeu o quanto é dificil gerir as nossas coisas enquanto trabalhamos, cuidamos dos nossos e temos os nossos 
    hobbie. Por isso decidimos criar uma ferramente que fosse acessivel a todos e que podesse ajudar como nos ajudous a nós, obviamente esta ainda em 
    fase de aperfeicoamento mas as funçoes core estão presentes</p>
    <h1>A nossa motivação</h1>
    <p>Todos nós temos que lidar com a chatice de guardar faturas de uma ano para o outro, por vezes de forma a manter garantias, etc... É ai que nós
entramos, com a nossa ajuda pode guardar todas as suas faturas de forma a nunca mais ter que andar a desarrumar a sua casa só para encontrar uma fatura.</p>
<h1>Sugestoes</h1>
<p>Esta ferramenta foi desenhada por estudantes e para o usufruto de todos, como tal esperámo que caso encontre algum bug ou se tiver alguma sugestão de melhoria nos diga.</p>
 <div class="form-group">
  <label for="email">E-mail:</label>
  <input type="text" class="form-control" rows="1" id="email"></input>
  <label for="sugest">Sugestão:</label>
  <textarea class="form-control" rows="5" id="sugest"></textarea>
  <button class="btn btn-outline-secondary" for="sugest" type="button">Enviar</button>
</div> 
{% endblock content %}
